body{

    background:#050515;

    color:white;

    font-family:Arial;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.chat{

    width:500px;

    background:#111;

    padding:20px;

    border-radius:20px;

}

h1{

    text-align:center;

    margin-bottom:20px;

}

#messages{

    height:400px;

    overflow:auto;

    border:1px solid #333;

    padding:10px;

    margin-bottom:10px;

    border-radius:10px;

}

.message{

    background:#222;

    padding:10px;

    border-radius:10px;

    margin-bottom:10px;

}

.bottom{

    display:flex;

    gap:10px;

}

input{

    flex:1;

    padding:12px;

    background:#222;

    border:none;

    color:white;

    border-radius:10px;

}

button{

    padding:12px 20px;

    border:none;

    background:#00f0ff;

    color:black;

    font-weight:bold;

    border-radius:10px;

    cursor:pointer;

}